.positionFlex, .positionFlex.leaflet-control {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.positionFlex .positionFlex-positionMiddle {
  width: 100%;
  height: 100%;
}
